# coding: utf-8

"""
    UUDEXApi

    uudex api  # noqa: E501

    OpenAPI spec version: 1.0
    Contact: jeff.welsh@pnnl.gov
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from uudex_client.api_client import ApiClient


class ObjectTypeApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_object_type(self, object_uuid, **kwargs):  # noqa: E501
        """Get object type based on a generic object UUID  # noqa: E501

        Helper function to determine what object type a generic UUID represents.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_object_type(object_uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str object_uuid: Can be the UUID of a subject, group, role, endpoint or participant. (required)
        :return: GenericAuthObject
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_object_type_with_http_info(object_uuid, **kwargs)  # noqa: E501
        else:
            (data) = self.get_object_type_with_http_info(object_uuid, **kwargs)  # noqa: E501
            return data

    def get_object_type_with_http_info(self, object_uuid, **kwargs):  # noqa: E501
        """Get object type based on a generic object UUID  # noqa: E501

        Helper function to determine what object type a generic UUID represents.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_object_type_with_http_info(object_uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str object_uuid: Can be the UUID of a subject, group, role, endpoint or participant. (required)
        :return: GenericAuthObject
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['object_uuid']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_object_type" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'object_uuid' is set
        if ('object_uuid' not in params or
                params['object_uuid'] is None):
            raise ValueError("Missing the required parameter `object_uuid` when calling `get_object_type`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'object_uuid' in params:
            path_params['object_uuid'] = params['object_uuid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/auth/object_type/{object_uuid}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GenericAuthObject',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
