# Development environment configuration
BACKEND_HOST=0.0.0.0
BACKEND_PORT=8240
FRONTEND_PORT=8555
LOGLEVEL=debug

# UUDEX configuration
UUDEX_API_URL=http://localhost:8400
UUDEX_SERVER_MODE=mock

PYTHONUNBUFFERED=1
