# Reflex configuration
BACKEND_HOST=0.0.0.0
BACKEND_PORT=8001
FRONTEND_PORT=3000
LOGLEVEL=debug

# UUDEX API configuration
UUDEX_API_URL=http://localhost:8004
UUDEX_SERVER_MODE=mock

PYTHONUNBUFFERED=1
